atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
colorama==0.4.1
coverage==4.5.2
cycler==0.10.0
enforce==0.3.4
idna==2.8
kiwisolver==1.0.1
matplotlib==3.0.2
more-itertools==6.0.0
numpy==1.16.1
pluggy==0.9.0
pprintpp==0.4.0
py==1.8.0
pycountry==18.12.8
pycountry-convert==0.7.2
pyfiglet==0.8.post1
pyparsing==2.3.1
pytest==4.3.0
pytest-cov==2.6.1
pytest-mock==1.10.1
python-dateutil==2.8.0
repoze.lru==0.7
requests==2.21.0
shodan==1.11.1
six==1.12.0
termcolor==1.1.0
urllib3==1.24.1
wrapt==1.11.1
XlsxWriter==1.1.5
