html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }

body {
    /* see: https://stackoverflow.com/questions/28820335/leaflet-clicking-zoom-control-removes-paging-top */
    height: calc(100% - 56px);
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    }

#map {
    position : relative;
    width : 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    }

header.navbar {
    margin-bottom: 0;
}
